.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightyellow;
  gap: 10px;
  list-style: none;
}
  
.card {
  padding: 10px 20px;
  flex-basis: 250px; /* width: 350px; */
}