.container {
   display: flex;
   padding: 32px 100px 60px 100px;

}

.container p {
   align-self: center;
   font-family: 'Roboto';
   /* font-style: normal; */
   font-weight: 700;
   font-size: 100px;
   line-height: 117px;
   padding-right: 75px;
   /* color: #000000; */
}