@import url('https://fonts.googleapis.com/css?family=Roboto');


.cardContainer {
  width: 236px;
  height: 387px;
    display: flex;
    align-items: stretch;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
    margin: 15px 22px;
  }
  
  .innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .posterContainer {
    width: 236px;
    height: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .posterContainer img {
    width: 236px;
  }
  
  .textContainer {
    padding: 1rem;
  }
  
  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  
  .releaseDate {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;   
    margin-bottom: 16px; 
  }

  .buttonContainer {
    display: flex ;
    justify-content: center;
    /* position: relative; */
  }
  
  .addButton {
    width: 84px;
    height: 36px;
    margin: 0 10px;
    background: #409DE1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    /* border-radius: 10px 0 0 10px; */
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
  }

  .removeButton {
    /* position: absolute;
    right: 8%; */
    z-index: 2;
    height: 36px;
    margin: 0 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    width: 84px;
    height: 36px;
    background: #409DE1;
    border-radius: 10px 6px 6px 10px;
    color: #FFFFFF;
  }

  .clicked {
    color: rgba(0, 0, 0, 0.3);
    background: #FAF8F8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    z-index: 1;
  }

   



