.container {
    min-height: 100vh;
    padding: 65px 100px 100px 100px;
    background-color: var(--grey);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.headerContainer > p {
    align-self: center;
    margin: 0;
    line-height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: var(--blue);
}

.headerContainer > p span {
    color:var(--black)
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
} 

.card {
    margin: 4px 8px;
    padding: 4px 8px;
    background-color: var(--grey);
    list-style: none;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 50px 32px;
    }
    
    .listContainer {
        justify-content: center;
        padding: 0;
    }
    
    .headerContainer {
        padding-bottom: 5px;
    }

    .headerContainer > p {
        font-size: 16px;
    }
} 
    
