.container {
    display: flex;
    flex-wrap: wrap;
    background: rgba(250, 248, 248, 1)
} 

.card {
    margin: 4px 8px;
    padding: 4px 8px;
    background-color: lightgrey;
    list-style: none;
}