.listContainer {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--black);
}

.listContainer li {
    padding: 18px 30px;
    justify-self: center;
}

.listContainer a {
    text-decoration: none;
}

.active {
    color: var(--black);
    pointer-events: none;
}

.inActive {
    color: var(--blue);
}

@media screen and (max-width: 767px) {
    .listContainer {
        flex-direction: column;
        font-size: 12px;
    }

    .listContainer li {
        padding: 0;
        /* padding: 9px 15px; */
        text-align: center;
        margin-bottom: 12px;
    }

    .listContainer li:last-child {
        margin-bottom: 23px;
        /* padding: 0; */
        /* padding: 9px 15px; */
        /* text-align: center; */
        /* margin-bottom: 12px; */
    }
    .listContainer li button {
        /* padding: 18px 30px;
        justify-self: center; */
        margin-bottom: 20px;
    }
}